* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background: #111;
}

#donut {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#donut svg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#donut svg circle {
  transition: stroke-dasharray 2s cubic-bezier(.59, .26, .17, 1);
  transform-origin: center center;
}


.card {
  background: #191919;
  border-radius: 3px;
  border: 1px solid #333;
  padding: 15px;
}